:root {
    --stroke-width: .008px;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#input-container {
    width: 25%;
    height: 100%;
    background-color: #181818;
    border-right: solid 3px #101010;
}

#svg-wrapper {
    height: 100%;
    width: 75%;
    background-color: #181818;
    position: relative;
}

#svg-wrapper-buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    padding-bottom: 0;
    flex-direction: row-reverse;
    gap: .5rem;
}

.svg-layer {
    display: block;
    width: 100%;
    height: 100%;
}

.base-rect, .grid-tile {
    fill: transparent;
    stroke: #909090;
    stroke-width: 2;
    vector-effect: non-scaling-stroke;
}

.grid-tile {
    stroke-width: .1;
}

.element {
    opacity: .3;
}

.element:hover {
    opacity: 1;
    cursor: pointer;
}

.selected {
    opacity: 1;
}

button, .label-button {
    color: #aaa;
    padding: 1rem;
    margin: 0;
    display: inline-block;
    border: 1px solid #aaa;
    cursor: pointer;
    background-color: #181818;
}

button:hover, .label-button:hover {
    background-color: #222;
}

.flex {
    display: flex;
    flex-direction: column;
    position: relative;
}

.flex input {
    max-width: 40%;
}

.dropdown-wrapper {
    position: absolute;
    top: 100%;
    border: 1px solid #aaa;
    display: none;
    margin-top: -1px;
    right: 0;
    background-color: #222;
}

label {
    color: #aaa;
}

.label-wrapper {
    padding: 1rem;
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.editing {
    vector-effect: non-scaling-stroke;
    opacity: 1;
    stroke-width: 1;
    stroke: #777;
    fill: #fff;
    fill-opacity: .1;
}

.selected {
    stroke: #fff;
    stroke-width: 2;
    fill-opacity: .2;
}

.svg-element:hover {
    stroke: #fff;
}

.non-scaling-line {
    vector-effect: non-scaling-stroke;
    stroke: #aaa;
    stroke-width: 2;
    stroke-dasharray: 3;
}

.non-scaling-circle {
    fill: #aaa;
    r: .7%;
}

#transform-container{
    position: absolute;
    background-color: #181818;
    color: #ddd;
    font-family: monospace;
    font-size: 14px;
}

.transform-data {
    padding: .25rem;
}

.transform-data.selected {
    background-color: #555;
}

.hide {
    display: none;
}

.disabled {
    opacity: .25;
}

